@import './base.css';
@import './helpers.css';
@import './fonts.css';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px
}

img.profile {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

.review-data {
    width: 80%;
}

.card-container {
    text-align: left;
    max-width: 900px;
  }

.small-image {
    height: 50px;
    width: 50px;
    border-radius: 50%
}

.user-details {
    width: 20%;
}

input[type=text]:not(.browser-default):focus:not([readonly]) ,
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 2px solid #f9e759;
    box-shadow: 0 5px 0 0 #f9e759;
}

input[type=text].valid:not(.browser-default), 
input[type=email].valid:not(.browser-default), 
input[type=password].valid:not(.browser-default) {
    border-bottom: 1px solid #f9e759;
    box-shadow: 0 1px 0 0 #f9e759;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label {
    color: #0e0f10;

}

input[type=text]:not(.browser-default)[readonly="readonly"].cov-datepicker {
    text-decoration: none;
    border:2px solid #f9e759;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    color: #ababab;
    font-family: 'MontBold', sans-serif;
    box-sizing: border-box;
}

 
input[type=text]:not(.browser-default)[readonly="readonly"].cov-datepicker::placeholder {
    color: #ababab;
    font-family: 'MontBold', sans-serif;
} 

.cov-datepicker {
    animation: blinker 1s linear infinite;
    margin: 0;
  }

  .user-img {
    width: 100%;
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn {
    font-family: 'MontBold', sans-serif;
    background-color: #0e0f10;
    color: #ababab;
}

.btn:focus {
    background-color: #0e0f10;
}

.btn:hover {
    background-color: #0e0f10;  
    color: #f9e759;
}

.profile-card {
    flex-direction: column;
}

.header-margin {
    margin-top: 130px;
}

.card-item {
    margin-top: 20px;
}

.cards-container {
    margin: 0;
}

.card-content h4 {
    margin-top: 0;
}


.dg-btn, .dg-btn:focus {
    color: black ;
    border: 1px solid black;
    background-color: #fff;
}

.dg-btn--cancel, .dg-btn--cancel:focus {
    background-color: #fff;
    border: 1px solid black;
}

button.slick-prev:before, button.slick-next:before  {
    color: black;
    font-size: 40px;
}

.slick-prev {
    left: -40px;
}

 
.card-item:not(:last-child) {
    margin-right: 20px;
}
    

@keyframes blinker {
    50% {
        box-shadow: 0 0 5px #f9e759;
    }
}

@media (min-width: 750px){
    .user-img {
        width: 275px;
        height: 275px;
    }

    .profile-card {
        flex-direction: row;
  }
}