@import './base.css';
@import './helpers.css';
@import './fonts.css';

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px
}

img.profile {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

.review-data {
    width: 80%;
}

.card-container {
    text-align: left;
    max-width: 900px;
  }

.small-image {
    height: 50px;
    width: 50px;
    border-radius: 50%
}

.user-details {
    width: 20%;
}

input[type=text]:not(.browser-default)[readonly="readonly"].cov-datepicker {
    text-decoration: none;
    border:2px solid #26a69a;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    color: Black;
    font-family: 'MontBold', sans-serif;
    box-sizing: border-box;
}

 
input[type=text]:not(.browser-default)[readonly="readonly"].cov-datepicker::placeholder {
    color: Black;
    font-family: 'MontBold', sans-serif;
} 

.cov-datepicker {
    animation: blinker 1s linear infinite;
    margin: 0;
  }

  .user-img {
    width: 400px;
    height: 275px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profile-card {
    flex-direction: column;
  }

  
  @keyframes blinker {
    50% {
        box-shadow: 0 0 5px #26a69a;
    }
}

@media (min-width: 750px){
    .user-img {
        width: 275px;
        height: 275px;
    }

    .profile-card {
        flex-direction: row;
  }
}